{% extends 'base.html' %} 
{% load blog_tags %}
{% load static %}
{% block title %} Home {% endblock title %}
{% block homeactive %} active {% endblock homeactive %}



{% block body %}

 
                <!--/ Intro Skew Star /-->
  <div id="home" class="intro route bg-image" style="background-image: url({% static 'img/CODE.jpg' %})">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="intro-title mb-4">I am Khan_d_</h1>
          <p class="intro-subtitle"><span class="text-slider-items">CEO code2hell,Web Developer,Web Designer,Frontend
              Developer, Backend Developer, Graphic Designer</span><strong class="text-slider"></strong></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div>
  <!--/  END Intro Skew Star /-->

  <!--Social Media Icons-->
    <div class="socials">
    <ul>
      <li><a href="https://www.facebook.com/code2hel"><span class="ico-circle"><i
              class="ion-social-facebook"></i></span></a></li>
      <li><a href="https://www.instagram.com/code2hell/"><span class="ico-circle"><i
              class="ion-social-instagram"></i></span></a></li>
      <li><a href="https://twitter.com/code2hell"><span class="ico-circle"><i class="ion-social-twitter"></i></span></a>
      </li>
      <li><a href="https://github.com/code2hel"><span class="ico-circle"><i class="ion-social-github"></i></span></a>
      </li>
    </ul>
    </div>
  <!-- END Social Media Icons-->

    <!--/ Section Blog-Single Star /-->
  <section class="blog-wrapper sect-pt4" id="blog">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="">
            <div class="article-content">

                      {% for message in messages  %}           
                        <strong class="text-warning">{{ message }}</strong> 
                      {% endfor %}

             <!-- code should be betweeb above the sidebar-->
             
                <!--/ Section Services Star /-->


      

  <!-- Large header banner -->

<div class="title-box text-center">
  <a href="/blog"><h5 class="title-a mt-5">Blog!</h5></a>
</div>

<section class="hero">
  <div class="container ">
    <img  class="d-block w-100"src="{% static 'img/programming.jpg' %}">
    <h1 class="display-5 text-bold text-center">Top 10 Programming Languages in 2021</h1>
     <p class="text-gray-soft text-regular text-center">A programming language is a computer language that is used by programmers (developers) to communicate with computers. It is a set of instructions written in any specific language ( C, C++, Java, Python) to perform a specific task.</p>
    <a class="button button-brand btn-lg mb-5 mb-lg-2 text-center" href="/blog">Let's go to Blog !</a>
  </div>
</section>


<section class="hero">
  <div class="container ">
    <img  class="d-block w-100"src="{% static 'img/blog.jpg' %}"> 
    <h1 class="display-5 text-bold text-center">Programming Interview Questions</h1>
     <p class="text-gray-soft text-regular text-center">Learn and Practice on almost all coding interview questions asked historically and get referred to the best tech companies. As the placement season is back so are we to help you ace the interview. We have selected some most commonly asked and must do practice problems for you.</p>
    <a class="button button-brand btn-lg mb-5 mb-lg-2 text-center" href="/blog">Let's go to Blog !</a>
  </div>
</section>

           
    <div class="title-box text-center">
      <h5 class="title-a mt-5"> Contact US!</h5>
      <p class="subtitle-a">For any kind of services and informations you can contact here!</p>
    <div class="line-mf"></div>
  </div>


<div class="container my-3">
  <!--/ Section Contact-Footer Star /-->
        <section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url({% static 'img/Bimg/1.jpg' %})">
          <div class="overlay-mf"></div>
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="contact-mf">
                  <div id="contact" class="box-shadow-full">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="title-box">
                          <h5 class="title-left">
                            Send Message Us
                          </h5>
                        </div>
                        <div>
                          <form action="/contact" method="post" role="form" class="contactForm">
                          {% csrf_token %}
                          
                            {% for message in messages  %}           
                                <strong class="text-warning">{{ message }}</strong> 
                            {% endfor %}

                            <div id="sendmessage">Your message has been sent. Thank you!</div>
                            <div id="errormessage"></div>
                            <div class="row">
                              <div class="col-md-12 mt-4 mb-3">
                                <div class="form-group">
                                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                    data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                  <div class="validation"></div>
                                </div>
                              </div>
                              <div class="col-md-12 mb-3">
                                <div class="form-group">
                                  <input type="email" class="form-control" name="email" id="email"
                                    placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                  <div class="validation"></div>
                                </div>
                              </div>
                              <div class="col-md-12 mb-3">
                                <div class="form-group">
                                  <input type="phone" class="form-control" name="phone" id="phone"
                                    placeholder="Phone Number"/>
                                  <div class="validation"></div>
                                </div>
                              </div>
                              <div class="col-md-12 mb-3">
                                <div class="form-group">
                                  <textarea class="form-control" name="content" rows="5" data-rule="required"
                                    data-msg="Please write something for us" placeholder="Message"></textarea>
                                  <div class="validation"></div>
                                </div>
                              </div>
                              <div class="col-md-12">
                                <button type="submit" class="button button-a button-big button-rouded">Send
                                  Message</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="title-box-2 pt-4 pt-md-0">
                          <h5 class="title-left">
                            Get in Touch
                          </h5>
                        </div>
                        <div class="more-info">
                          <p class="lead">
                            Code2hell is fortunate to work with many wonderful projects including ecommerce website, dentist
                            websites, financial and law offices websites, construction websites, spa websites,
                            restaurant websites, nonprofits websites etc.
                          </p>
                          <ul class="list-ico">
                            <li><span class="ion-ios-location"></span>INDIA</li>
                            <li><span class="ion-ios-telephone"></span> +91 9110187713</li>
                            <li><span class="ion-email"></span> code2hell420@gmail.com</li>
                          </ul>
                        </div>

                        <div class="socials">
                          <ul>
                            <li><a href="https://www.facebook.com/code2hel"><span class="ico-circle"><i
                                    class="ion-social-facebook"></i></span></a></li>
                            <li><a href="https://www.instagram.com/code2hell/"><span class="ico-circle"><i
                                    class="ion-social-instagram"></i></span></a></li>
                            <li><a href="https://twitter.com/code2hell"><span class="ico-circle"><i
                                    class="ion-social-twitter"></i></span></a></li>
                            <li><a href="https://github.com/khand420"><span class="ico-circle"><i
                                    class="ion-social-github"></i></span></a></li>
                          </ul>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        
</div> 

           
           </div>
          </div>
        </div>
        {% include 'sidebar.html' %}
      </div>
    </div>
  </section>
  <!--/ Section Blog-Single End /-->

  <div class="title-box text-center">
             <h5 class="title-a mt-5">WORK EXPERIENCES</h5>
            <div class="line-mf"></div>
          </div>
<!-- Instagram Feed Area -->
        <div class="instragram-feed-area owl-carousel mt-3 mb-5">
            <!-- Single Instagram Item -->
            <div class="single-instagram-item">
                <img src="{% static 'img/certificates/p.png' %}" alt="">
                <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                    <a href="https://university.cockroachlabs.com/award/certification/d3228b0d-448a-3fa4-86ae-230f22858c15/view-ext">
                        <i class="ti-google" aria-hidden="true"></i>
                        <span>Cokckroach University</span>
                    </a>
                </div>
            </div>
            <!-- Single Instagram Item -->
            <div class="single-instagram-item">
                <img src="{% static 'img/certificates/f.png' %}" alt="">
                <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                    <a href="https://university.cockroachlabs.com/award/certification/d3228b0d-448a-3fa4-86ae-230f22858c15/view-ext">
                        <i class="ti-google" aria-hidden="true"></i>
                        <span>Cokckroach University</span>
                    </a>
                </div>
            </div>
            <!-- Single Instagram Item -->
            <div class="single-instagram-item">
                <img src="{% static 'img/certificates/1.png' %}" alt="">
                <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                    <a href="https://google.qwiklabs.com/public_profiles/15128f8e-be54-4bd5-816e-63faf963d7d5/badges/895963">
                        <i class="ti-google" aria-hidden="true"></i>
                        <span>Google Cloud Platform</span>
                    </a>
                </div>
            </div>
            <!-- Single Instagram Item -->
            <div class="single-instagram-item">
                <img src="{% static 'img/certificates/2.png' %}" alt="">
                <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                    <a href="https://google.qwiklabs.com/public_profiles/15128f8e-be54-4bd5-816e-63faf963d7d5/badges/897378">
                        <i class="ti-google" aria-hidden="true"></i>
                        <span>Google Cloud Platform</span>
                    </a>
                </div>
            </div>
            <!-- Single Instagram Item -->
            <div class="single-instagram-item">
                <img src="{% static 'img/certificates/3.png' %}" alt="">
                <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                    <a href="https://google.qwiklabs.com/public_profiles/15128f8e-be54-4bd5-816e-63faf963d7d5/badges/896392">
                        <i class="ti-google" aria-hidden="true"></i>
                        <span>Google Cloud Platform</span>
                    </a>
                </div>
            </div>
            <!-- Single Instagram Item -->
            <div class="single-instagram-item">
                <img src="{% static 'img/certificates/4.png' %}" alt="">
                <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                    <a href="https://google.qwiklabs.com/public_profiles/15128f8e-be54-4bd5-816e-63faf963d7d5/badges/896341">
                        <i class="ti-google" aria-hidden="true"></i>
                        <span>Google Cloud Platform</span>
                    </a>
                </div>
            </div>
        </div>
  




 {% include 'footer.html' %}

 {% endblock %}

