
{% load static %}



    <!--*****Footer****-->
          <footer>
            <div class="container mt-2">
              <div class="row">
                <div class="col-sm-12">
                  <div class="copyright-box">
                  <div class="socials">
                      <ul>
                        <li><a href="https://www.facebook.com/code2hel"><span class="ico-circle"><i
                                class="ion-social-facebook"></i></span></a></li>
                        <li><a href="https://www.instagram.com/code2hell/"><span class="ico-circle"><i
                                class="ion-social-instagram"></i></span></a></li>
                        <li><a href="https://twitter.com/code2hell"><span class="ico-circle"><i class="ion-social-twitter"></i></span></a>
                        </li>
                        <li><a href="https://github.com/code2hel"><span class="ico-circle"><i class="ion-social-github"></i></span></a>
                        </li>
                      </ul>
                    </div>
                    <p class="copyright">&copy; Copyright @2017-21 <strong>Code2hell</strong>. All Rights Reserved</p>
                    <img src="{% static 'img/Bimg/IMG_9873.PNG' %}" alt="" class="rounded-circle b-shadow-a">
                    <div class="credits">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </footer>
          <!-- a arrow for back to top-->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        <div id="preloader"></div>

